@import url('https://fonts.googleapis.com/css?family=PT+Sans');
      
 table {
   font-family: 'PT Sans', sans-serif;
   cursor: default;
  }
      
 table.center {
    margin-left:38%;
    margin-right:auto;
 }
